@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');



.no-download {
  pointer-events: none;
  user-drag: none; 
  user-select: none; 
}

.no-download img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.no-download img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



.hero-background {
  background-image: url('./assets/bg-texture-3.png');
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center; 
  overflow: hidden;
  position: relative; 
}


.hero-background::before, .hero-background::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  opacity: 0.6;
}

.hero-background::before {
  width: 1200px;
  height: 1000px;
  background: radial-gradient(circle at 30% 30%, #8C5D92, transparent);
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  filter: blur(150px);
}

.hero-background::after {
  width: 400px;
  height: 400px;
  background: radial-gradient(circle at 70% 70%, #FF79D2, transparent);
  top: 70%;
  left: 90%;
  transform: translate(-50%, -50%);
  filter: blur(150px);
}

.greet-bg {
  overflow: hidden;
  position: relative;
}


.greet-bg::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  opacity: 0.6;
}

.greet-bg::before {
  width: 800px;
  height: 800px;
  background: radial-gradient(circle at 30% 30%, #d5ae77, transparent);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(150px);
}

.greet-inputs {
  
}

.save-btn {
  background-color: #f0ba17;
}

.navbar-bg {
  background: rgba(0, 0, 0, 0.5);
}


.text-mid {
  color: #ffffff;
  transition: color 0.3s ease; 
}

.text-mid {
  position: relative;
  color: #ffffff;
  transition: color 0.3s ease;
}

.text-mid::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; 
  width: 0;
  height: 2px; 
  background-color: #ffffff;
  transition: width 0.3s ease; 
}

.text-mid:hover::after,
.text-mid.active::after {
  width: 100%; 
}


.messages-bg {
  background: linear-gradient(135deg, #3F356A, #5B4D8A, #7469B6);
}

.sub-btn {
  background-color: #f0ba17;
}

.confirm-btn {
  background-color: #f0a817;
}